@font-face {
	font-family: Oswald;
	font-weight: light;
	src: url(../assets/fonts/Oswald-Light.ttf);
}

@font-face {
	font-family: Oswald;
	font-weight: SemiBold;
	src: url(../assets/fonts/Oswald-SemiBold.ttf);
}

@font-face {
	font-family: Oswald;
	font-weight: Bold;
	src: url(../assets/fonts/Oswald-Bold.ttf);
}

@font-face {
	font-family: Oswald;
	font-weight: ExtraLight;
	src: url(../assets/fonts/Oswald-ExtraLight.ttf);
}

@font-face {
	font-family: Oswald;
	font-weight: Medium;
	src: url(../assets/fonts/Oswald-Medium.ttf);
}

@font-face {
	font-family: Oswald;
	font-weight: Regular;
	src: url(../assets/fonts/Oswald-Regular.ttf);
}
