@import './font-face.css';

:root {
	font-family: Oswald;
}

/* HEADER */

header {
	position: relative;
	width: 100%;
	min-height: 100px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	z-index: 500;
}

header img {
	max-width: 300px;
	position: absolute;
}

/* END-HEADER */

/* MAIN */

.hero {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	background: radial-gradient(circle at bottom, navy 0, black 100%);
	z-index: 0;
}

.daily {
	display: flex;
	align-items: center;
}

.daily__image img {
	max-width: 800px;
	width: 100%;
	height: auto;
	border-radius: 25px;
	border: 7px solid white;
	box-sizing: border-box;
}

.daily__quote {
	max-width: 450px;
	background-color: #fff;
	border-radius: 0 25px 25px 0;
	padding: 50px;
}

#quote-daily {
	color: navy;
	font-weight: 600;
	font-size: 30px;
}

#quote-daily-author {
	font-weight: 300;
	font-size: 20px;
}

.flex__container {
	display: flex;
	justify-content: center;
}

.container {
	max-width: 1200px;
}

/* NEO - NEAR EARTH OBJECTS */

.neo {
	width: 100%;
}

.neo .title {
	color: white;
	text-transform: uppercase;
	font-size: 32px;
}

.neo__card-container {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(4, 1fr);
}

.neo-card {
	display: block;
	border-radius: 25px;
}

.neo-card__header {
	padding: 20px;
	line-height: 26px;
	background-color: #e4e4e4;
	border-radius: 5px 5px 0 0;
}

.fullname {
	text-transform: capitalize;
	font-weight: 300;
	font-size: 18px;
}
.nickname {
	color: navy;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 30px;
}

.neo-card__body {
	padding: 5px 20px 20px 20px;
	border-radius: 0 0 5px 5px;
	background-color: #fff;
}

.neo-card__body p {
	margin: 20px 0 0 0;
}

.next-approach {
	padding: 10px;
}

.next-approach__title {
	text-align: center;
	padding: 0;
}

.next-approach__date,
.next-approach__date--full {
	text-align: center;
	padding: 0 10px 10px 10px;
	font-weight: 500;
	color: navy;
	font-size: 20px;
}

.next-approach__date--full {
	font-size: 16px;
}

/* END - NEO */

/* START - MODAL*/
.modal {
	display: none;
	position: fixed;
	z-index: 501;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal__content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
	padding: 20px;
	width: 15%;
}

/* The Close Button */
.close {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px;
	color: #aaaaaa;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* END - MODAL*/

/*  END - MAIN  */
