@import './font-face.css';

:root {
	font-family: Oswald;
}

/* HEADER */

header {
	position: fixed;
	top: 0;
	width: 100vw;
	background-color: #fff;
	padding: 0;
	max-height: 100px;
	z-index: 1;
}

header .logo {
	position: relative;
	display: flex;
	justify-content: center;
}

header .logo img {
	width: 300px;
}

/* END-HEADER */

/* MAIN */

main {
	margin-top: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 1600px;
}

.container .daily {
	display: flex;
	align-items: center;
}

.container .daily .daily__image img {
	border-radius: 25px;
	border: 7px solid white;
}

.container .daily .daily__quote {
	background-color: #fff;
	border-radius: 0 25px 25px 0;
	padding: 50px;
}

.container .daily .daily__quote #quote-daily {
	color: navy;
	font-weight: 600;
	font-size: 50px;
}

.container .daily .daily__quote #quote-daily-author {
	font-weight: 300;
	font-size: 20px;
}

/*  END - MAIN  */
