:root {
	--neutral-100: #ffffff;
	--neutral-300: #cccccc;
	--neutral-500: #949494;
	--neutral-700: #383838;
	--neutral-900: #1a1a1a;

	--main-100: #4f66cd;
	--main-300: #354dba;
	--main-500: #2b3f98;
	--main-700: #253682;
	--main-900: #1e2d6c;

	--accent-100: #cdb64f;
	--accent-300: #baa235;
	--accent-500: #97832b;
	--accent-700: #827125;
	--accent-900: #6c5e1e;

	font-family: 'Roboto', sans-serif;
}

body {
	background-color: var(--neutral-300);
	color: var(--neutral-900);
	margin: 0;
}

header {
	background-color: var(--neutral-100);
	max-height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .logo {
	position: relative;
	margin-top: 30px;
}

main {
	padding-top: 20px;
}

.container {
	max-width: 1200px;
	display: block;
	margin: 0 auto;
}

.daily {
	margin-top: 15px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

.daily .daily__image img {
	border-radius: 5% 0 0 5%;
}

.daily .daily__quote {
	height: 100%;
	width: auto;
	z-index: 1;
	position: relative;
	background-color: var(--neutral-100);
	text-align: end;
	font-style: italic;
	padding: 30px;
	border-radius: 10px;
	align-self: center;
}

.daily .daily__quote #quote-daily {
	color: var(--main-700);
	font-weight: 300;
	font-size: 30px;
	text-align: center;
}
