@import './font-face.css';

:root {
	font-family: Oswald;
}

/* HEADER */

header {
	position: fixed;
	top: 0;
	width: 100vw;
	background-color: #fff;
	padding: 0;
	max-height: 100px;
	z-index: 1;
}

header .logo {
	position: relative;
	display: flex;
	justify-content: center;
}

header .logo img {
	width: 300px;
}

/* END-HEADER */

/* MAIN */

main {
	margin-top: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 1600px;
}

.daily {
	display: flex;
	align-items: center;
}

.daily__image img {
	border-radius: 25px;
	border: 7px solid white;
}

.daily__quote {
	background-color: #fff;
	border-radius: 0 25px 25px 0;
	padding: 50px;
}

#quote-daily {
	color: navy;
	font-weight: 600;
	font-size: 50px;
}

#quote-daily-author {
	font-weight: 300;
	font-size: 20px;
}

/*  END - MAIN  */

/* NEO - NEAR EARTH OBJECTS */

.neo {
	width: 100%;
}

.neo .title {
	color: #fff;
	text-transform: uppercase;
	font-size: 32px;
}

.neo__card-container {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(4, 1fr);
}

.neo-card {
	display: block;
	border-radius: 25px;
}

.neo-card__header {
	padding: 20px;
	line-height: 26px;
	background-color: #cbcbcb;
}

.neo-card__header #fullname {
	text-transform: capitalize;
	font-weight: 300;
	font-size: 18px;
}
.neo-card__header #nickname {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 30px;
}

.neo-card__body {
	padding: 5px 20px 5px 20px;
	background-color: #fff;
}

.neo-card__body p {
	margin: 10px 0 0 0;
}

/* END - NEO */
